@model Búsquedas.Models.Comentario;
@using System.Security.Claims;
@{
    ViewData["Title"] = "Detalles";
}
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">

    <!-- Custom Styles -->
    <style>


        h2{
            font-family: 'Cyrillic Bodoni', serif;
            font-weight: 300;
            color: #737373;
            font-size: 5em;
        }
        h5{
            font-family: 'Cyrillic Bodoni', serif;
            font-weight: 200;
            color: #737373;
            font-size: 3em;
        }

        p{
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Familia de fuente */
            /*font-weight: bold;  Peso de la fuente */
            font-size: 20px; /* Tamaño de la fuente */
            letter-spacing: 1px; /* Espaciado entre letras */
        }

        /*NAVBAR*/
        .navbar {
            background-color: transparent !important;
        }

        .navbar-brand {
            font-size: 24px;
            color: white;
            margin-right: 15px;
        }

        .navbar-nav .nav-link {
            color: white !important;
        }

        .navbar-toggler {
            border-color: white !important;
        }

        .nav-link {
            color: #fff;
            background-color: #A58C9B;
            padding: 7px 20px;
            border-radius: 20px;
            transition: background-color 0.3s, color 0.3s;
            font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Familia de fuente */

            letter-spacing: 2px; /* Espaciado entre letras */
            text-transform: uppercase;
        }

            .nav-link:hover {
                background-color: #333;
            }

        .nav-item {
            margin-right: 10px;
        }



        /* Estilos generales */
        body {
            font-family: Arial, sans-serif;
            background-color: white;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 800px;
            margin: 20px auto;
            padding: 0 20px;
        }

        .card {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 20px;
        }

        .card-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }

        .card-text {
            font-size: 16px;
            margin-bottom: 5px;
        }

    </style>
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" asp-action="Index" asp-controller="Usuario"><img style="max-height:3em; margin-left:4em;" src="/img/logosensillo.png" alt=""></a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" style="margin-right: 4em;" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link text-light" asp-action="Index" asp-controller="Usuario"><b>Inicio</b></a></li>
                    <li class="nav-item"><a class="nav-link text-light" asp-action="Compras" asp-controller="Usuario" asp-route-id="@User.FindFirstValue(ClaimTypes.SerialNumber)">Tus Compras</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false"><b>Catalogos</b></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Productos" asp-route-Categoria="1">Mujer</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Productos" asp-route-Categoria="5">Accesorios</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Productos" asp-route-Categoria="2">Hombre</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Productos" asp-route-Categoria="3">Niño</a></li>
                            <li><a class="dropdown-item" asp-controller="Usuario" asp-action="Productos" asp-route-Categoria="4">Niña</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link text-light" asp-action="CerrarSesion" asp-controller="Home"><b>Cerrar Sesion</b></a></li>

                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>

    <div class="container" style="max-width: 1000px; margin: 100px auto;">
        <center><h2>Productos Comprados</h2></center>
        <div class="row">
            @if (ViewBag.Error != null)
            {
                <div class="text-danger text-center">@ViewBag.Error</div>
            }
            @if (ViewBag.Compras.Count == 0)
            {
                <div class="col-md-12">
                    <div class="row py-lg-2">
                        <div class="col-lg-6 col-md-8 mx-auto text-center">
                            <h1 class="fw-light titulos">
                                <i class="fa-regular fa-face-frown"></i>
                            </h1>
                            <p class="p-0">
                                Sin compras encontradas
                            </p>
                        </div>
                    </div>
                </div>
            }

            @foreach (var item in ViewBag.Compras)
            {
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">@item.Tipo @item.Marca</h5>
                                    <p class="card-text">Talla: @item.Talla</p>
                                    <p class="card-text">Categoría: @item.Categoria</p>
                                    <p class="card-text">Tipo: @item.Tipo</p>
                                    <p class="card-text">Marca: @item.Marca</p>
                                    <p class="card-text">Fecha Compra: @item.Fecha</p>
                                    @if (item.StatusCompra)
                                    {
                                        <p class="card-text">Estado Compra: Completado</p>
                                    }
                                    else
                                    {
                                        <p class="card-text">Estado Compra: Pendiente </p>
                                    }

                                </div>
                            </div>
                            <div class="col-md-4">
                                <img src="/img/vendido.png" class="img-fluid rounded-start" alt="Imagen">
                            </div>
                        </div>
                    </div>
                </div>
            }
            
            
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>